/**{*/
/*  border: black solid 1px;*/
/*}*/
:root {
    --primary-green: #12491B;
    --light-green: #CDE0CA;
    --background-green: #DDE7DD;
    --primary-orange: #BF6319;
    --light-orange: #F44336;
    --nude: #F2EBE9;
    --shadow-dark: #C4D0C3;

    --shadow-light: #F7FBF7;
}
.container {
    text-align: center;
    padding: 15px;
    background: #DDE7DD;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
.horizontalList {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    flex-wrap: nowrap;
    gap: 16px;
    padding: 12px 0 12px;
    margin: 0;
    list-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 10px;
}
.horizontalContainer {
    width: 625px;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
}

.subHeader {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 12px;
    color: black
}
.buttonLightGreen {
    padding: 8px 12px;
    background-color: #CDE0CA;
    font-size: 12px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.buttonGreen {
    padding: 8px 12px;
    background-color: var(--primary-green);
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
}
button {
    transition: .2s ease-in-out;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, .7),
    -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 4px rgba(255, 255, 255, .075),
    3px 3px 5px rgba(0, 0, 0, .15);
    }
button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}
.buttonOrange {
    padding: 8px 12px;
    background-color: var(--primary-orange);
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
}
.logoSmall {
    width: 50px;
    height: 50px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    text-align: center;
}
.left-column {
    flex: 1.8;
    padding: 5px;
    border-radius: 8px;
}

.right-column {
    flex: 1.2;
    padding: 1px;
    border-radius: 8px;
}
.page-num-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.alert-banner {
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
}